
.content-flex {
  display: flex;
  
}


.side-bar {
  border-right: 1px solid #cbc9cb;
  width: 25%;
  background-color: #f8f6f6;
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

.top-bar {
  box-shadow: 1px 1px 10px 1px #cbc9cb;
}

.item-link {
  font-size: 22px;
  color: #232121;
  text-decoration: none;
  display: block;
  padding: 20px;
  transition: 0.1s;
}
.item-link:hover {
  background-color: #e0e0e0;
  color: #000;
  border-radius: 10px;
}

.active {
  background-color: #e0e0e0;
  color: #000;
  border-radius: 10px;
}

.fa {
  color: #232121;
  margin-right: 10px;
}







table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  padding: 0.75rem;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  color: #232121;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
